{% extends "base.html" %} {% block title %}{% endblock %} {% block content %} {%
with messages = get_flashed_messages() %} {% if messages %} {% for msg in
messages %}
<p>{{ msg }}</p>
{% endfor %} {% endif %} {% endwith %}
<h2 class="prigovorih1" style="margin: 50px 0px">Prikaz prigovora</h2>
<div class="prigovori-wrapper">
  <ul class="list-group podaci">
    <li class="list-group-item bg-dark text-white bg-dark">Id mature</li>
    {%for i in prigovor%}
    <li class="list-group-item">{{i[0]}}</li>

    {%endfor%}
  </ul>
  <ul class="list-group podaci">
    <li class="list-group-item bg-dark text-white bg-dark">Tema prigovora</li>
    {%for i in prigovor%}
    <li class="list-group-item">{{''.join(i[1])}}</li>

    {%endfor%}
  </ul>
  <ul class="list-group podaci">
    <li class="list-group-item bg-dark text-white bg-dark">Opis prigovora</li>
    {%for i in prigovor%}
    <li class="list-group-item">{{''.join(i[2])}}</li>

    {%endfor%}
  </ul>
  <ul class="list-group podaci">
    <li class="list-group-item bg-dark text-white bg-dark">Učenik</li>
    {%for i in prigovor%}
    <li class="list-group-item">{{i[3] + ' ' + i[4]}}</li>

    {%endfor%}
  </ul>
</div>
{% endblock %}
